<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <div>
            <img src="" alt="">
            <span>Jeff</span>
        </div>
        <mat-nav-list>
            <a mat-list-item >
                Tarjetas Visa en dispensadores
            </a>
            <a mat-list-item >
                Crear dispensador
            </a>
            <a mat-list-item >
                Monitorear y editar dispensadores
            </a>
            <a mat-list-item >
                Solicitud tarjetas
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content></mat-sidenav-content>
</mat-sidenav-container>