table {
    width: 100%;
}

.flex-row {
    display: flex;
    gap: 1rem;
}

.btn {
    display: inline-block;
    padding: 10px 17px;
    color: #004B40;
    border: 1px solid #004B40;
    border-radius: 2px;
    font-weight: bold;
    min-width: 10rem;
}

.btn:hover {
    cursor: pointer;
}

.btn--primary {
    background-color: #004B40;
    color: white;
}

.btn--primary:hover {
    background-color: #004b40a5;
}

.btn--secondary {
    background-color: transparent;
}

.btn--secondary:hover {
    background-color: #004b402f;
}

.filters {
    margin-bottom: 3rem;
}