table {
    width: 100%;
}

.mat-table {
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

.flex-row {
    display: flex;
    gap: 1rem;
}

.pagination-row {
    display: flex;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.btn {
    display: inline-block;
    padding: 10px 17px;
    color: #004B40;
    border: 1px solid #004B40;
    border-radius: 2px;
    font-weight: bold;
    min-width: 10rem;
}

.btn:hover {
    cursor: pointer;
}

.btn--primary {
    background-color: #004B40;
    color: white;
}

.btn--primary:hover {
    background-color: #004b40a5;
}

.btn--secondary {
    background-color: transparent;
}

.btn--secondary:hover {
    background-color: #004b402f;
}

.filters {
    margin-bottom: 2rem;
}

.mat-header-row {
    background-color: #004B40;
}

.mat-header-cell {
    color: white
}

.pag-control-buttons {
    color: #1EEB00;
}

.--is-light {
    color: #929292;
}

.--is-mb-sm {
    margin-bottom: 1rem;
}